<!doctype html>
<title>Stock Information</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Stock Information</h1>
  <div class=metanav>
    <h4>
      Please enter a stock ticker eg. GOOG, and check desired features..
    </h4>

    <form id='userinfoform' method='post' action='index' >
      <p>
    Ticker symbol: <input type='text' name='ticker' />
      </p>
      <p>
    Closing Price: <input type='checkbox' name='closing_pr' />
      </p>
      <p>
    Adjusted Closing Price: <input type='checkbox' name='adj_closing_pr' />
      </p>
      <p>
    Opening Price: <input type='checkbox' name='opening_pr' />
      </p>
      <p>
    Adjusted Opening Price: <input type='checkbox' name='adj_opening_pr' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>